a{
	color:#707070; 
	text-decoration: none;
}

ul{
	list-style-type: none;
}
img{
	max-width: 100%;
}



.main_image{
    max-width: 100%;
    object-fit: cover;
    margin:207px 140px 138px 140px;
}


.header{
	margin-top: 90px;
	margin-left: 20px;
	line-height: 40px;
	letter-spacing: 0.2px;
	font-family: "ArchyEDT-Thin", sans-serif;
	color:#707070
	
}

.archy{
	font-family: "ArchyEDT-Thin", sans-serif;
}

nav a{
	font-size: 20px;
	letter-spacing: 0.2px;
	margin: 25px;
	color: #707070;
}

nav, nav li{
	display: inline-block;
	vertical-align: middle;
}




.article_png{
	width:483px;
	height:282px;
	object-fit: cover;
	margin-top: 70px;
	margin-right: 10px;
	
}


section article{
	margin:70px 95px 20px 140px;
	width: 446px;
	height: 563px;
	color: #707070;

}

section h2{
	margin:138px 1129px 70px 139px;
	color:#707070;
	line-height: 53px;
	letter-spacing: 0.4px;
	width: 437px;
	height: 53px;
}
section p{
	margin-top: 33px;
	font-family: "ArchyEDT-Thin", sans-serif;
	
}
section h5{
	size: 24px;
	color:#707070;
	text-align:right;
	margin-top: 73px;
	margin-right: 13px;
	margin-bottom: 35px;
	font-family: "ArchyEDT-Thin", sans-serif;
}



footer{
		background-color:#2E2E2E;
		width: 100%;
		margin-top: 70px;
}

footer h4{
	font-size: 20px;
	letter-spacing: 0.19px;
	line-height: 17px;
	color: #f2f2f2;
	margin-left:140px;
}

footer ul{
	font-size: 13px;
	letter-spacing: 0.13px;
	color:#f2f2f2;
	margin-left:140px;
}


footer div{
	display: inline-block;
	vertical-align: middle;
	margin-left: 70px;
	margin-top: 67px;
	font-family: "ArchyEDT-Thin", sans-serif;

}

.logo{
	width: 122px;
	height: 122px;
	object-fit: cover;
	margin-left: 140.7px;
	margin-top: 52px;
}
.footlogo{
	margin-bottom:54px;
}

.png{
	width: 43.95px;
	height: 43.95px;
	margin-top:80px;
	margin-left:140px;
    line-height: 34.1px;
}

.container{
	max-width: 100%;
	width: 100%;
	margin:0 auto;
}

article{

	box-shadow: 0px 3px 6px #00000029;
	display: inline-block;
}